{% extends "layout.twig" %}

{% block content %}

    <h1>Список заказов</h1>
    <div class="row">

    {#{% for row in data %}#}
        <div>
        <h2>Количество: {{ data.amount }}</h2>
        <p>Номер клиента: {{ data.customer_id }}</p>
        <p>Номер заказа: {{ data.order_id }}</p>
        <p>Имя: {{ data.name }}</p>
        <p>Аватар: <img src="{{ data.avatar }}"></p>
        </div>
    {#{% endfor %}#}
    </div>
{% endblock %}