{% extends "layout.twig" %}

{% block content %}

    <h1>Список пользователей</h1>
    <p class="row">

    {#{% for row in data %}#}
        <p>
        <h2>Ваш логин: {{ row.login }}</h2>
        <p>Электронная почта:<br> <a href="mailto:{{ row.email }}">{{ row.email }}</a></p>
        <p>Имя: {{ row.name }}</p>
        <p>Возраст: {{ row.age }}</p>
        <p>О себе: {{ row.about }}</p>
        <p>Аватар: <img src="{{ row.avatar }}"></p>
        </p>
    {#{% endfor %}#}

{% endblock %}