{% extends "layout.twig" %}

{% block content %}

    <h1>Список пользователей</h1>
    <div class="row">

    {% for row in data %}
        <div class="data">
        <h2>Логин: {{ row.login }}</h2>
        <p>Электронная почта:<br> <a href="mailto:{{ row.email }}">{{ row.email }}</a></p>
        <p>Имя: {{ row.name }}</p>
        <p>Возраст: {{ row.age }}</p>
        <p>Аватар: <img src="{{ row.avatar }}"></p>
        </div>
    {% endfor %}
    </div>
{% endblock %}