{% extends "layout.twig" %}

{% block content %}

    <h1>Пользователь по ID</h1>
    <p class="row">

    {#{% for row in data %}#}
        <p>
        <h2>Ваш логин: {{ data.login }}</h2>
        <p>Электронная почта:<br> <a href="mailto:{{ data.email }}">{{ data.email }}</a></p>
        <p>Имя: {{ data.name }}</p>
        <p>Возраст: {{ data.age }}</p>
        <p>О себе: {{ data.about }}</p>
        <p>Аватар: <img src="{{ data.avatar }}"></p>
        </p>
    {#{% endfor %}#}

{% endblock %}